<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别名称 -->
<mapper namespace="cn.bcsp.mall.mapper.ProductImageMapper">

    <select id="selectAll" resultType="cn.bcsp.mall.pojo.ProductImage" parameterType="int">
        SELECT * FROM productimage WHERE
        productimageProductId=#{id}
    </select>

    <select id="selectSingleProductImage" resultType="cn.bcsp.mall.pojo.ProductImage">
        SELECT * FROM productimage
          WHERE productimageProductId=#{id} AND productimageType=0  LIMIT 1
    </select>


    <select id="selectSingleProductImages" resultType="cn.bcsp.mall.pojo.ProductImage">
        SELECT * FROM productimage
                WHERE productimageProductId=#{id} AND productimageType=0
    </select>



</mapper>